{%extends "layout.html"%}
{%block body%}


  <main id="main">


    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
            <img src="assets/img/course-details.jpg" class="img-fluid" alt="">
            <h3>{{reviews.name}}</h3>
            <p>
              {{reviews.message}}
            </p>
          </div>
          
        </div>

      </div>
    </section><!-- End Cource Details Section -->

   

  </main><!-- End #main -->

  {%endblock%}